<h1>Edit employee</h1>
<%= form_tag "/employees/#{@employee['id']}", method: :patch do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @employee["first_name"] %>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @employee["last_name"] %>
  </div>
  <div>
    <%= label_tag :birth_date %>
    <%= text_field_tag :birth_date, @employee["birth_date"] %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, @employee["email"] %>
  </div>
  <%= submit_tag "Update employee!" %>
<% end %>